@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");



.main-section {
  display: flex;
  justify-content: end;
  flex-direction: row;
  padding: 24px;
  gap: 24px;
  overflow-y: auto;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

/* Extra panel for desktop */
.extra-panel {
  background: #007961cc;
  border-radius: 24px;
  padding: 32px;
  color: #d9f7eb;
  font-size: 1rem;
  line-height: 1.4;
  box-shadow: 0 10px 30px rgb(0 121 97 / 0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  min-height: 480px;
}
.extra-panel h3 {
  font-weight: 900;
  font-size: 1.8rem;
  margin-bottom: 22px;
  letter-spacing: 0.06em;
  user-select: none;
}


.extra-panel p {
  margin-bottom: 18px;
}

footer {
  background: #003826;
  color: #81c784;
  text-align: center;
  padding: 16px 24px;
  font-size: 0.9rem;
  font-weight: 600;
  user-select: none;
  box-shadow: inset 0 2px 8px #004d40aa;
  flex-shrink: 0;
}

.gotita {
  position: absolute;
}

.juego-fondo {
   margin-top: 40px;
}


@media (min-width: 768px) {
  main {
    grid-template-columns: 2fr 1fr;
  }
}


@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

/* Info panel styling */

@media (min-width: 1024px) {
  .extra-panel {
    display: flex;
  }
}

/* Footer styling */

@media (min-width: 768px) {
  main {
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: 2fr 1fr 1fr;
  }
}








